phylogenetic_biology.Rmd
phylogenetic_biology.pdf
phylogenetic_biology_cache/
phylogenetic_biology.knit.md
phylogenetic_biology.utf8.md


*.tex
*.log
*.aux
*.out
*.toc

explorations/

.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect

.DS_Store